body {
  background-color: #040717;
  color: #f9f9f9;
}

a {
  color: #f9f9f9;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@media only screen and (min-width:400px) and(max-width:768px) {
  body {
    font-size: 15px;
  }
}

@media screen and (max-width:479px) {
  body {
    font-size: 14px;
  }
}